<div class="container">
  <audio src="assets/audio/pokemon-abertura.mp3"></audio>
  <article class="card">
    <div class="card__inner">
      <div class="card__body card__body--front--squirtle">
        <div class="name-pokemon">
          <span>
            {{objectMewto.name}}
          </span>
        </div>
        <div class="image__water__pokemon">
          <div class="image-pokemon">
            <img src="assets/images/image-squirtle.jpg" alt="" class="pokemon-image">
          </div>
        </div>
      </div>
      <div class="card__body card__body--back">

      </div>
    </div>
  </article>

  <article class="card">
    <div class="card__inner">
      <div class="card__body card__body--front--pikachu">

        <div class="image-pokemon">
          <img src="assets/images/image-pikachu.jpg" alt="" class="pokemon-image">
        </div>
      </div>
      <div class="card__body card__body--back">

      </div>
    </div>
  </article>

  <article class="card">
    <div class="card__inner">
      <div class="card__body card__body--front--mewtwo">
        <div class="image-pokemon">
          <img src="assets/images/image-mewtwo.jpg" alt="" class="pokemon-image">
        </div>
      </div>
      <div class="card__body card__body--back">

      </div>
    </div>
  </article>

</div>

