<div class="container">
  <audio src="src/assets/audio/pokemon-abertura.mp3" autoplay></audio>
  <article class="card">
    <div class="card__inner">
      <div class="card__body card__body--front--squirtle">
        <div class="card__header--name">
          <span>BASIC</span>
          <span class="name-pokemon">Pikachu</span>
          <span class="hp-pokemon">HP</span>
          <span class="number-hp-pokemon">70</span>
        </div>
        <div class="image__water__pokemon">
          <div class="image-pokemon">
            <img src="src/assets/images/image-squirtle.jpg" alt="" class="pokemon-image">
          </div>
        </div>
      </div>
      <div class="card__body card__body--back">

      </div>
    </div>
  </article>

  <article class="card">
    <div class="card__inner">
      <div class="card__body card__body--front--pikachu">
        <div class="image-pokemon">
          <img src="src/assets/images/image-pikachu.jpg" alt="" class="pokemon-image">
        </div>
      </div>
      <div class="card__body card__body--back">

      </div>
    </div>
  </article>

  <article class="card">
    <div class="card__inner">
      <div class="card__body card__body--front--mewtwo">
        <div class="image-pokemon">
          <img src="src/assets/images/image-mewtwo.jpg" alt="" class="pokemon-image">
        </div>
      </div>
      <div class="card__body card__body--back">

      </div>
    </div>
  </article>

</div>

