html, body {
  background-image: url('assets/images/floresta-pokemon.gif');
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
